@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	button {
		font-family: "Droid Arabic Kufi", "Times New Roman";
	}
}
@layer components {
	.active {
		@apply left-0 top-0 min-h-full fixed !important;
	}
	.router-link-exact-active {
		@apply text-mainColor !important;
	}
	.content p {
		line-height: 2;
	}
	.content img {
		width: 50% !important;
	}
	.content ul {
		list-style-type: disc !important;
		list-style-position: inside !important;
	}
	.content ol {
		list-style-type: decimal !important;
		list-style-position: inside !important;
	}
	h1 {
		display: block;
		font-size: 2em;
		margin-top: 0.67em;
		margin-bottom: 0.67em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}
	h2 {
		display: block;
		font-size: 1.5em;
		margin-top: 0.83em;
		margin-bottom: 0.83em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}
	h3 {
		display: block;
		font-size: 1.17em;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}
	h4 {
		display: block;
		margin-top: 1.33em;
		margin-bottom: 1.33em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}
	h5 {
		display: block;
		font-size: 0.83em;
		margin-top: 1.67em;
		margin-bottom: 1.67em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}
	h6 {
		display: block;
		font-size: 0.67em;
		margin-top: 2.33em;
		margin-bottom: 2.33em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}
}
