@import url("https://fonts.googleapis.com/earlyaccess/droidarabickufi.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	button {
		font-family: "Droid Arabic Kufi", "Times New Roman";
	}
}
@layer components {
	iframe {
		@apply !w-[100%] !h-full m-auto flex justify-center items-center dark:bg-[#0f172a];
	}
	iframe ~ body {
		text-align: center;
	}
	html {
		@apply dark:bg-[#0f172a];
	}
	body {
		font-family: "Droid Arabic Kufi", system-ui;
		@apply dark:bg-[#0f172a];
	}
	section {
		@apply dark:bg-[#0f172a] dark:text-white;
	}
	.active {
		@apply left-0 top-0 min-h-full fixed !important;
	}
	.router-link-exact-active {
		@apply text-[#0f172a]  dark:text-white;
	}
	.content p {
		line-height: 2;
	}
	.content ul {
		list-style-type: disc !important;
		list-style-position: inside !important;
	}
	.content ol {
		list-style-type: decimal !important;
		list-style-position: inside !important;
	}
	h1 {
		display: block;
		font-size: 2em;
		margin-top: 0.67em;
		margin-bottom: 0.67em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}
	h2 {
		display: block;
		font-size: 1.5em;
		margin-top: 0.83em;
		margin-bottom: 0.83em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}
	h3 {
		display: block;
		font-size: 1.17em;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
		text-wrap: balance;
	}
	h4 {
		display: block;
		margin-top: 1.33em;
		margin-bottom: 1.33em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}
	h5 {
		display: block;
		font-size: 0.83em;
		margin-top: 1.67em;
		margin-bottom: 1.67em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}
	h6 {
		display: block;
		font-size: 0.67em;
		margin-top: 2.33em;
		margin-bottom: 2.33em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}
}
